// @ VARIABLES
// --------------------------------------------------------------------------

$bg-white:              #fff;
$bg-light:              #f4f5f0;
$bg-medium:             #e7e7e7;
$bg-dark:               #3c3c3c;
$text-dark:             #3c3c3c;
$text-light:            #999999;
$text-medium:           #585856;
$text-smallbusiness:    #949b6f;
$text-enterprise:       #3faca7;
$text-reveal:           #76a7b5;
$text-aqua:             #3dacaa;
$text-red:              #ed0015;
$gutter:                36px;

$z-index-subscribe:     120;


// @ EXTENDS
// --------------------------------------------------------------------------

%bg-light {
  background: $bg-light;
}

%font--semibold {
  font-family: 'adellesemibold';
  font-weight: normal;
}

%font--medium {
  font-family: 'bulomedium';
  font-weight: normal;
}

%font--bold {
  font-family: 'bulobold';
  font-weight: normal;
}

%font--black {
  font-family: 'buloblack';
  font-weight: normal;
}
