// ----------------------------------------------------------------------------
// SUBSCRIBE
// ----------------------------------------------------------------------------
//
// This stylesheet is used for 'Subscribe' promo overlays
// which sit outside of the regular UX repo.
//
// Dependencies:
// - Econsultancy UX repo
// - landing-pages.scss
//
// ----------------------------------------------------------------------------



// @ SUBSCRIBE NAVBAR
// --------------------------------------------------------------------------

.subscribe-navbar {
  position: fixed;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 0;
  line-height: 30px;
  text-align: center;

  .navbar-logo {
    @include media-query(palm) {
      display: block;
      width: 100%;
    }
  }

  .navbar-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 48px;
    background: $brand-color;
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
  }

  .navbar-links {
    margin: 0 auto; 
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding: 0 12px;
      margin-top: 8px;
    }

    a {
      color: $text-dark;
      font-size: 14px;
      padding: 12px 3px;
    }

    .active a {
      border-bottom: 4px solid $brand-color;
    }

    .special a {
      color: $brand-color;
    }

    @include media-query(palm) {
      background: #f7f6f3;
      padding-bottom: 10px;
      box-shadow: 0 0 3px #bbb;

      li {
        width: 49%;
        text-align: left;
        line-height: 12px;

        &:first-child, &:first-child + li {
          margin-top: 18px;
        }

        a {
          padding: 0 3px;
        }
      }

      .special a {
        border-bottom: 0;
      }
    }

    @include media-query(lap) {

      li {
        padding: 0 6px;
      }
    }
  }

  .navbar-cta {
    display: none;
    width: 100%;
    background: $bg-white;
    margin-top: -3px;
    padding: 16px 0;
    border-bottom: 1px solid $bg-medium;

    &.-visible {
      display: block;
    }

    .cta-text {
      @extend %font--bold;
      font-size: 20px;
    }

    p {
      margin: 0;
    }

    @include media-query(palm) {
      display: none !important;
    }
  }

  &.headroom {

    @include media-query(palm) {
      transition: all 200ms ease-in-out;
      z-index: 10;
      right: 0;
      left: 0;
      top: 0;
    }
  }

  &.headroom--top {

    @include media-query(palm) {
      position: static;

      .navbar-cta {
        display: none;
      }
    }
  }

  &.headroom--pinned {
    
    @include media-query(palm) {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
    }
  }

  &.headroom--unpinned {

    @include media-query(palm) {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%);

      @include media-query(palm) {
        transform: translateY(-170px);
        -webkit-transform: translateY(-170px);
      }
    }
  }
}


// @ HEADER
// --------------------------------------------------------------------------

.subscribe-header {
  margin: 0;
  padding: $gutter ($gutter*2) ($gutter*2);
  background-image:url('../images/subscribe-header-bg.jpg');

  h3 {
    @extend %font--medium;
    color: $bg-white;
    line-height: 32px;
  }

  p {
    margin-top: $gutter / 2;
  }

  @include media-query(palm) {
    padding: ($gutter/4) ($gutter/2);
    margin-top: 120px;

    .page-header-with-bg__body {
      margin: 0;
    }

    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 16px;
      line-height: 24px;
    }
  }
}


// @ PANELS: BASE
// --------------------------------------------------------------------------

.subscribe-promo {

  &.-small-business {
    .highlighted {
      color: $text-smallbusiness;
    }
  }
  &.-enterprise {
    .highlighted {
      color: $text-enterprise;
    }
  }

  .btn--large {
    font-size: 18px;
  }
}


// @ PANELS: INDIVIDUAL
// --------------------------------------------------------------------------

.landing-panel {
  

  // MODIFIERS

  &.-sub-intro {
    padding-top: 100px;

    p {
      margin-bottom: 0;
    }

    i {
      font-size: 66px;

      @include media-query(palm) {
        font-size: 48px;
      }
    }

    @include media-query(palm) {
      margin-top: 120px;
      padding-top: 40px;
    }
  }

  &.-sub-upgrade {

    .highlighted {
      font-size: 46px;
      color: $text-enterprise;
    }

    .upgrade-reveal {
      display: none;

      .feature-icon {
        color: $text-reveal;
        font-size: 30px;
      }
    }
  }

  &.-sub-contact {
    text-align: left;

    h2 {
      margin-bottom: 24px;
    }

    h5 {
      @extend %font--medium;
      color: $text-medium;
      font-size: 18px;
    }
  }

  &.-sub-features {
    text-align: left;

    h3 {
      line-height: 32px;
    }

    .subheading {
      margin-bottom: 20px;
    }
  }

  &.-sub-achieve {

    .grid {
      margin-bottom: $gutter;
    }

    @include media-query(lap-and-up) {
      padding-left: $gutter * 3;
      padding-right: $gutter * 3;
    }
  }

  &.-sub-research {

    .grid__item {
      text-align: left;
    }

    h4 {
      margin-bottom: 20px;
    }

    ul { 
      margin-left: 0;
      padding-left: 20px;
      font-size: 13px;
    }

    .research-featured {

      @include media-query(lap-and-up) {
        float: right;
        text-align: left;
      }
    }
  }

  &.-sub-standapart {
    background: $bg-dark;

    h1, h2, h4, p {
      color: $bg-white;
    }

    h3, p {
      color: $text-light;
    }

    .feature-icon {
      font-size: 48px;
      margin-top: 10px;
    }

    .grid {
      margin-bottom: 16px;
    }
  }
}


// @ GOALS PANEL
// --------------------------------------------------------------------------

.subscribe-goals__text {
  text-align: left;
  padding: 100px 0;

  p {
    margin: 0;
  }

  @include media-query(lap) {
    padding: 40px 0;
  }

  @include media-query(palm) {
    padding: 30px 0;
    text-align: center;
  }
}

.subscribe-goals__image {
  
  img {
    border-radius: 50%;
    vertical-align: middle;
  }

  @include media-query(palm) {
    padding: 0 30px;
  }
}

.choice-box {
  background: $bg-light;
  border: 1px solid $bg-medium;
  padding: 32px 40px 20px;

  h1 {
    margin-bottom: 0;
  }

  h4 {
    color: $text-medium;
    margin-bottom: 16px;
  }

  &.-smallbus {

    .choice-icon {
      color: $text-smallbusiness;
    }
  }

  &.-enterprise {

    .choice-icon {
      color: $text-enterprise;
    }
  }
}

.choice-icon {
  font-size: 48px;
  margin-bottom: 0;
}


// @ CONTACT MEDIA OBJECTS
// --------------------------------------------------------------------------

.subscribe-contact {

  h4 {
    font-size: 20px;
  }

  p {
    margin-bottom: 0;
  }

  i {
    margin-right: 8px;
  }

  .phone {
    @extend %font--semibold;
  }
}


// @ FOOTER
// --------------------------------------------------------------------------

.subscribe-footer {
  @extend %font--medium;
  background: $bg-light;
  border-top: 5px solid $bg-medium;
  padding: $gutter * 1.5;
  font-size: 12px;
}