@charset "IBM437";
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
.landing-panel:nth-child(even) {
  background: #f4f5f0; }

.subscribe-contact .phone {
  font-family: 'adellesemibold';
  font-weight: normal; }

.intro.-mega, .contact-panel h5, .landing-panel h3, .subscribe-header h3, .landing-panel.-sub-contact h5, .subscribe-footer {
  font-family: 'bulomedium';
  font-weight: normal; }

.subscribe-navbar .navbar-cta .cta-text {
  font-family: 'bulobold';
  font-weight: normal; }

.landing-panel h2 {
  font-family: 'buloblack';
  font-weight: normal; }

img.circled {
  border-radius: 50%; }

.intro.-mega {
  font-size: 1.5em;
  color: #585856; }

.page-header-with-bg.-home {
  background-image: url("../images/home-header-bg.jpg"); }
  .page-header-with-bg.-home .page-header-with-bg__body {
    margin: 120px 130px 0;
    padding-right: 0;
    text-align: center; }
  .page-header-with-bg.-home h1 {
    font-size: 4.2em; }
  .page-header-with-bg.-home .intro {
    color: #fff; }

.btn--secondary {
  background: #ed0015;
  border-color: #ba0010; }
  .btn--secondary:hover {
    background: #ff2135; }

.action-card.-alt {
  background: #f7f6f2;
  margin-bottom: 10px;
  min-height: 113px; }
  .action-card.-alt a {
    padding: 20px; }
  .action-card.-alt h4 {
    font-size: 18px;
    color: #2f76ac; }
  .action-card.-alt:hover .media-flex__img {
    color: #2f76ac; }

.contact-panel {
  background: #fff;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
  border-radius: 3px; }
  .contact-panel h5 {
    color: #999999;
    font-size: 14px; }
  .contact-panel h7 {
    font-size: 24px;
    line-height: 42px;
    color: #585856; }
  .contact-panel p {
    margin-bottom: 4px;
    color: #585856; }
  .contact-panel .contact-line i {
    color: #585856; }

.contact-panel__header {
  border-bottom: 1px solid #ddd;
  padding: 20px 0; }

.contact-panel__body {
  padding: 20px; }

.contact-panel__video {
  position: relative; }
  .contact-panel__video .video-state-icon {
    position: absolute;
    right: 10px;
    bottom: 16px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%; }
    .contact-panel__video .video-state-icon:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 12px;
      border-color: transparent transparent transparent #ffffff; }

.landing-panel {
  padding: 36px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center; }
  .landing-panel.-buffer {
    display: none; }
  .landing-panel h1 {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 599px) {
      .landing-panel h1 {
        font-size: 28px; } }
  .landing-panel h2 {
    font-size: 36px;
    line-height: 42px; }
    @media only screen and (max-width: 599px) {
      .landing-panel h2 {
        font-size: 24px;
        line-height: 28px; } }
  .landing-panel h3 {
    color: #585856;
    margin-bottom: 32px;
    line-height: 32px; }
    @media only screen and (max-width: 599px) {
      .landing-panel h3 {
        font-size: 20px; } }
  .landing-panel h4 {
    font-size: 24px;
    margin-bottom: 0; }
    @media only screen and (max-width: 599px) {
      .landing-panel h4 {
        font-size: 18px; } }
  .landing-panel p {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto; }
  .landing-panel .feature-icon {
    font-size: 36px;
    margin-top: 32px;
    margin-bottom: 0; }

.client-logos {
  margin: 0; }
  .client-logos li {
    display: inline-block;
    min-height: 100px;
    margin: 1%;
    border: 1px solid #e7e7e7;
    border-radius: 3px; }
    @media only screen and (max-width: 599px) {
      .client-logos li {
        width: 33%;
        margin: 3%; } }
  .client-logos.-five-row li {
    width: 17%; }
  .client-logos.-eight-row li {
    width: 9.5%; }

.subscribe-navbar {
  position: fixed;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 0;
  line-height: 30px;
  text-align: center; }
  @media only screen and (max-width: 599px) {
    .subscribe-navbar .navbar-logo {
      display: block;
      width: 100%; } }
  .subscribe-navbar .navbar-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 48px;
    background: #ed0015;
    font-size: 18px;
    color: #fff;
    padding-top: 10px; }
  .subscribe-navbar .navbar-links {
    margin: 0 auto;
    padding: 0; }
    .subscribe-navbar .navbar-links li {
      list-style: none;
      display: inline-block;
      padding: 0 12px;
      margin-top: 8px; }
    .subscribe-navbar .navbar-links a {
      color: #3c3c3c;
      font-size: 14px;
      padding: 12px 3px; }
    .subscribe-navbar .navbar-links .active a {
      border-bottom: 4px solid #ed0015; }
    .subscribe-navbar .navbar-links .special a {
      color: #ed0015; }
    @media only screen and (max-width: 599px) {
      .subscribe-navbar .navbar-links {
        background: #f7f6f3;
        padding-bottom: 10px;
        box-shadow: 0 0 3px #bbb; }
        .subscribe-navbar .navbar-links li {
          width: 49%;
          text-align: left;
          line-height: 12px; }
          .subscribe-navbar .navbar-links li:first-child, .subscribe-navbar .navbar-links li:first-child + li {
            margin-top: 18px; }
          .subscribe-navbar .navbar-links li a {
            padding: 0 3px; }
        .subscribe-navbar .navbar-links .special a {
          border-bottom: 0; } }
    @media only screen and (min-width: 600px) and (max-width: 989px) {
      .subscribe-navbar .navbar-links li {
        padding: 0 6px; } }
  .subscribe-navbar .navbar-cta {
    display: none;
    width: 100%;
    background: white;
    margin-top: -3px;
    padding: 16px 0;
    border-bottom: 1px solid #e7e7e7; }
    .subscribe-navbar .navbar-cta.-visible {
      display: block; }
    .subscribe-navbar .navbar-cta .cta-text {
      font-size: 20px; }
    .subscribe-navbar .navbar-cta p {
      margin: 0; }
    @media only screen and (max-width: 599px) {
      .subscribe-navbar .navbar-cta {
        display: none !important; } }
  @media only screen and (max-width: 599px) {
    .subscribe-navbar.headroom {
      transition: all 200ms ease-in-out;
      z-index: 10;
      right: 0;
      left: 0;
      top: 0; } }
  @media only screen and (max-width: 599px) {
    .subscribe-navbar.headroom--top {
      position: static; }
      .subscribe-navbar.headroom--top .navbar-cta {
        display: none; } }
  @media only screen and (max-width: 599px) {
    .subscribe-navbar.headroom--pinned {
      transform: translateY(0%);
      -webkit-transform: translateY(0%); } }
  @media only screen and (max-width: 599px) {
    .subscribe-navbar.headroom--unpinned {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%); } }
    @media only screen and (max-width: 599px) and (max-width: 599px) {
      .subscribe-navbar.headroom--unpinned {
        transform: translateY(-170px);
        -webkit-transform: translateY(-170px); } }

.subscribe-header {
  margin: 0;
  padding: 36px 72px 72px;
  background-image: url("../images/subscribe-header-bg.jpg"); }
  .subscribe-header h3 {
    color: white;
    line-height: 32px; }
  .subscribe-header p {
    margin-top: 18px; }
  @media only screen and (max-width: 599px) {
    .subscribe-header {
      padding: 9px 18px;
      margin-top: 120px; }
      .subscribe-header .page-header-with-bg__body {
        margin: 0; }
      .subscribe-header h1 {
        font-size: 28px; }
      .subscribe-header h3 {
        font-size: 16px;
        line-height: 24px; } }

.subscribe-promo.-small-business .highlighted {
  color: #949b6f; }
.subscribe-promo.-enterprise .highlighted {
  color: #3faca7; }
.subscribe-promo .btn--large {
  font-size: 18px; }

.landing-panel.-sub-intro {
  padding-top: 100px; }
  .landing-panel.-sub-intro p {
    margin-bottom: 0; }
  .landing-panel.-sub-intro i {
    font-size: 66px; }
    @media only screen and (max-width: 599px) {
      .landing-panel.-sub-intro i {
        font-size: 48px; } }
  @media only screen and (max-width: 599px) {
    .landing-panel.-sub-intro {
      margin-top: 120px;
      padding-top: 40px; } }
.landing-panel.-sub-upgrade .highlighted {
  font-size: 46px;
  color: #3faca7; }
.landing-panel.-sub-upgrade .upgrade-reveal {
  display: none; }
  .landing-panel.-sub-upgrade .upgrade-reveal .feature-icon {
    color: #76a7b5;
    font-size: 30px; }
.landing-panel.-sub-contact {
  text-align: left; }
  .landing-panel.-sub-contact h2 {
    margin-bottom: 24px; }
  .landing-panel.-sub-contact h5 {
    color: #585856;
    font-size: 18px; }
.landing-panel.-sub-features {
  text-align: left; }
  .landing-panel.-sub-features h3 {
    line-height: 32px; }
  .landing-panel.-sub-features .subheading {
    margin-bottom: 20px; }
.landing-panel.-sub-achieve .grid {
  margin-bottom: 36px; }
@media only screen and (min-width: 600px) {
  .landing-panel.-sub-achieve {
    padding-left: 108px;
    padding-right: 108px; } }
.landing-panel.-sub-research .grid__item {
  text-align: left; }
.landing-panel.-sub-research h4 {
  margin-bottom: 20px; }
.landing-panel.-sub-research ul {
  margin-left: 0;
  padding-left: 20px;
  font-size: 13px; }
@media only screen and (min-width: 600px) {
  .landing-panel.-sub-research .research-featured {
    float: right;
    text-align: left; } }
.landing-panel.-sub-standapart {
  background: #3c3c3c; }
  .landing-panel.-sub-standapart h1, .landing-panel.-sub-standapart h2, .landing-panel.-sub-standapart h4, .landing-panel.-sub-standapart p {
    color: white; }
  .landing-panel.-sub-standapart h3, .landing-panel.-sub-standapart p {
    color: #999999; }
  .landing-panel.-sub-standapart .feature-icon {
    font-size: 48px;
    margin-top: 10px; }
  .landing-panel.-sub-standapart .grid {
    margin-bottom: 16px; }

.subscribe-goals__text {
  text-align: left;
  padding: 100px 0; }
  .subscribe-goals__text p {
    margin: 0; }
  @media only screen and (min-width: 600px) and (max-width: 989px) {
    .subscribe-goals__text {
      padding: 40px 0; } }
  @media only screen and (max-width: 599px) {
    .subscribe-goals__text {
      padding: 30px 0;
      text-align: center; } }

.subscribe-goals__image img {
  border-radius: 50%;
  vertical-align: middle; }
@media only screen and (max-width: 599px) {
  .subscribe-goals__image {
    padding: 0 30px; } }

.choice-box {
  background: #f4f5f0;
  border: 1px solid #e7e7e7;
  padding: 32px 40px 20px; }
  .choice-box h1 {
    margin-bottom: 0; }
  .choice-box h4 {
    color: #585856;
    margin-bottom: 16px; }
  .choice-box.-smallbus .choice-icon {
    color: #949b6f; }
  .choice-box.-enterprise .choice-icon {
    color: #3faca7; }

.choice-icon {
  font-size: 48px;
  margin-bottom: 0; }

.subscribe-contact h4 {
  font-size: 20px; }
.subscribe-contact p {
  margin-bottom: 0; }
.subscribe-contact i {
  margin-right: 8px; }

.subscribe-footer {
  background: #f4f5f0;
  border-top: 5px solid #e7e7e7;
  padding: 54px;
  font-size: 12px; }
