// ----------------------------------------------------------------------------
// SUBSCRIBE
// ----------------------------------------------------------------------------
//
// This stylesheet is used for 'Subscribe' promo overlays
// which sit outside of the regular UX repo.


// @ VARIABLES
// --------------------------------------------------------------------------

$bg-white:              #fff;
$bg-light:              #f4f5f0;
$bg-medium:             #e7e7e7;
$text-dark:             #3c3c3c;
$text-medium:           #585856;
$text-smallbusiness:    #949b6f;
$text-enterprise:       #3faca7;
$text-reveal:           #76a7b5;
$gutter:                36px;

// @ EXTENDS
// --------------------------------------------------------------------------

%bg-light {
  background: $bg-light;
}

%font--medium {
  font-family: 'bulomedium';
  font-weight: normal;
}

%font--black {
  font-family: 'buloblack';
  font-weight: normal;
}

// @ NAVBAR
// --------------------------------------------------------------------------

.subscribe-navbar {
  position: fixed;
  max-width: 1280px;
  margin: 0 auto;

  &.headroom {
    transition: all 200ms ease-in-out;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
  }

  &.headroom--top {
    position: static;  
  }

  &.headroom--pinned {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}

// @ PANELS: GENERAL
// --------------------------------------------------------------------------

.subscribe-promo {

  &.-small-business {
    .highlighted {
      color: $text-smallbusiness;
    }
  }
  &.-enterprise {
    .highlighted {
      color: $text-enterprise;
    }
  }

  .btn--large {
    font-size: 18px;
  }
}

// @ PANELS: INDIVIDUAL
// --------------------------------------------------------------------------

.subscribe-panel {
  padding: $gutter;
  border-bottom: 1px solid $bg-medium;
  text-align: center;

  &:nth-child(even) {
    @extend %bg-light;
  }

  h1 {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    @extend %font--black;
    font-size: 36px;
    line-height: 42px;
  }

  h3 {
    @extend %font--medium;
    color: $text-medium;
    margin-bottom: 32px;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 0;
  }

  p {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-icon {
    font-size: 36px;
    margin-top: 32px;
    margin-bottom: 0;
  }

  // MODIFIERS

  &.-intro {
    p {
      margin-bottom: 0;
    }
    i {
      font-size: 66px;
    }
  }

  &.-upgrade {

    .highlighted {
      font-size: 46px;
      color: $text-enterprise;
    }

    .upgrade-reveal {
      display: none;

      .feature-icon {
        color: $text-reveal;
        font-size: 30px;
      }
    }
  }

  &.-contact {
    text-align: left;
  }
}

.subscribe-logos {
  margin: 0;

  li {
    display: inline-block;
    width: 17%;
    min-height: 100px;
    margin: 1%;
    border: 1px solid $bg-medium;
  }
}