// ----------------------------------------------------------------------------
// SUBSCRIBE
// ----------------------------------------------------------------------------
//
// This stylesheet is used for 'Subscribe' promo overlays
// which sit outside of the regular UX repo.


// @ VARIABLES
// --------------------------------------------------------------------------

$bg-white:              #fff;
$bg-light:              #f4f5f0;
$bg-medium:             #e7e7e7;
$text-dark:             #3c3c3c;
$text-medium:           #585856;
$text-smallbusiness:    #949b6f;
$text-enterprise:       #3faca7;
$gutter:                36px;

// @ EXTENDS
// --------------------------------------------------------------------------

%bg-light {
  background: $bg-light;
}

%font--medium {
  font-family: 'bulomedium';
  font-weight: normal;
}

// @ NAVBAR
// --------------------------------------------------------------------------

.subscribe-navbar {
  position: fixed;
  max-width: 1280px;
  margin: 0 auto;
}

.headroom {
  transition: all 200ms ease-in-out;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

.headroom--top {
  position: static;  
}

.headroom--pinned {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

// @ PANELS: GENERAL
// --------------------------------------------------------------------------

.subscribe-promo {

  &.-small-business {
    .highlighted {
      color: $text-smallbusiness;
    }
  }
  &.-enterprise {
    .highlighted {
      color: $text-enterprise;
    }
  }  
}

// @ PANELS: INDIVIDUAL
// --------------------------------------------------------------------------

.subscribe-panel {
  padding: $gutter;
  border-bottom: 1px solid $bg-medium;
  text-align: center;

  &:nth-child(even) {
    @extend %bg-light;
  }

  h1 {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    @extend %font--medium;
    color: $text-medium;
    margin-bottom: $gutter;
  }

  // MODIFIERS

  &.-intro {
    p {
      margin-bottom: 0;
    }
    i {
      font-size: 66px;
    }
  }
}

